<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <title>Joshua D'Souza</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-light bg-light">
        <button class="navbar-toggler" type="button" id="sideNavButton" onclick="openNav()">
            <span style="font-size:30px;">&#9776;</span>
        </button>
        

        <div id="mySideNav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/experience">Experience</a>
            <a href="#">Resume</a>
            <a href="#">Contact Me</a>
        </div>    
    </nav>
    <!-- END NAVBAR -->

    <!-- Title Section -->
    <div class="container">
        <div class="row mt-5">
            <div class="col p-5">
                <h1 class="display-1 text-center">Relevant Courses</h1>
                <h1 class="display-4 text-center">(the not-so-boring courses)</h1>
            </div>
        </div>
    </div>

    <!-- End of title section-->

    <!-- Image Section -->
    <div class="container">
        <div class="row">
            <div class="col-md text-center">
                <img src="/images/waterloo_2.jpg" class="img-fluid d-block w-100" alt="Mt.Kilimanjaro at Uhuru Peak">
            </div>
        </div>
    </div>
    <!-- End of Image Section-->

    <!-- Text Section -->
    <div class="container">
        <div class="row">
            <div class="col p-5">
                <h2 class="letters_spaced">MSCI 431 - Stochastic Models and Methods</h2>
                <h4 class="letters_spaced">Course Description</h4>
                <p class="lead">Introduction to Operations Research models and methods for problems with random, stochastic and probabilistic components. Topics include birth and death processes, branching processes, waiting line models, and Markov decision processes. Applications include, the design, modelling, and analysis of service and manufacturing systems, with emphasis on important functions such as queueing, inventory, reliability, equipment replacement, and maintenance.</p>
                <br>
                <h2 class="letters_spaced">MSCI 444 - Information Systems Analysis and Design</h2>
                <h4 class="letters_spaced">Course Description</h4>
                <p class="lead">The course is intended to provide students with the knowledge of the theory and practice of information systems development stages, techniques and methodologies. Course topics may include: requirements analysis, structured and object-oriented design techniques and system implementation strategies. </p>
                <br>
                <h2 class="letters_spaced">MSCI 346 - Database Systems</h2>
                <h4 class="letters_spaced">Course Description</h4>
                <p class="lead">Design and implementation of database solutions to common engineering and management problems. Multiple analytical methods for choosing optimal database designs. Topics include relational database design, data definition, entity modeling, structured query language and emerging types of database systems.</p>
                <br>
               <h2 class="letters_spaced">MSCI 240 - Algorithms and Data Structures</h2>
                <h4 class="letters_spaced">Course Description</h4>
               <p class="lead">Design and analysis of data structures and algorithms. Mathematical and conceptual analysis of algorithms for set operations, sorting, graphs, and priority queues. Comparison of algorithms on different data structures. Algorithmic and data structural solutions to common engineering problems in computer science. Mathematical analysis of space and time complexity as well as other forms of computational complexity in algorithms.</p>
                <br>
                <h2 class="letters_spaced">MSCI 331 - Introduction to Optimization</h2>
                <h4 class="letters_spaced">Course Description</h4>
               <p class="lead">This first course in optimization uses a quantitative approach to problem solving involving, mathematical modelling and formulations, solution methods, and output analysis. Students are introduced to a variety of practical problem formulations in Management and Engineering, a number of solution methods, including, but not limited to linear optimization, network models, project management, and decision analysis. Students are also involved in a group project, where they go through conceptual and operational model design, analytical solution, output analysis, and recommendation.</p>
                <br>
                <h2 class="letters_spaced">MSCI 252 - Probability and Statistics for Engineers</h2>
                <h4 class="letters_spaced">Course Description</h4>
               <p class="lead">This course introduces fundamental concepts in probability and statistics. It covers topics in probability, random variables, discrete and continuous probability distributions, confidence intervals, hypothesis testing, sampling, and introductory linear regression. Students are exposed to software packages that enable statistical analysis.</p>
                
            </div>
        </div>
    </div>

    <!-- End of Text Section -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/onPageEdits.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>