<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <title>Joshua D'Souza</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-light bg-light">
        <button class="navbar-toggler" type="button" id="sideNavButton" onclick="openNav()">
            <span style="font-size:30px;">&#9776;</span>
        </button>
        

        <div id="mySideNav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/experience">Experience</a>
            <a href="/resume">Resume</a>
            <a href="/contact-me">Contact Me</a>
        </div>    
    </nav>
    <!-- END NAVBAR -->

    <!-- Opening Statement -->

    <div class="container">
        <div class="row mt-5 p-3">
            <div class="col">
                <h1 class="display-1 text-center">Hello, I'm Josh!</h1>
                <h4 class="display-4 d-none d-md-block text-center">University of Waterloo</h4>
                <h4 class="display-4 text-center">3A Management Engineering</h4> 
            </div> 
        </div>
        <div class="row p-3">
            <div class="col text-right">
                <a class="btn btn-dark fab fa-github fa-3x" href="https://github.com/joshuadsouza" target="_blank"></a>
            </div>
            <div class="col text-left">
                <a class="btn btn-dark fab fa-linkedin fa-3x" href="https://www.linkedin.com/in/joshua-d-souza-758b74132/" target="_blank"></a>
            </div>
        </div>
        <div class="row p-4">
            <div class="col text-center">
                <h3 class="letters_spaced">click an icon below for more info!</h3>
            </div>
        </div>
    </div>

    <!-- End of Opening Statement -->

    <!-- Cool Things Section -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h4 class="letters_spaced">let's start with the cool things . . .</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-mountain fa-3x p-4" href="/peaking-kilimanjaro"></a>
                <h1 class="text-white p-4">peaking</h1>
            </div>
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-crown fa-3x p-4" href="/elliott-hulse-transformation"></a>
                <h1 class="text-white p-4">body-swap</h1>
            </div>
        </div>
    </div>
    <!-- End of Cool Things Section -->

    <!-- Experience Section -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h4 class="letters_spaced">now to the main course . . .</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-rocket fa-3x p-4" href="/experience/#fastapps"></a>
                <h1 class="text-white p-4">crystal ball investment</h1>
            </div>
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-bullhorn fa-3x p-4" href="/experience/#loblaw-digital"></a>
                <h1 class="text-white p-4">attracting people</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-child fa-3x p-4" href="/experience/#tanzanite"></a>
                <h1 class="text-white p-4">aspiring mandela</h1>
            </div>
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-code fa-3x p-4" href="/experience/#industry"></a>
                <h1 class="text-white p-4">code for yute</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-user-friends fa-3x p-4" href="/experience/#matter-marketing"></a>
                <h1 class="text-white p-4">safari promoter</h1>
            </div>
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-code fa-3x p-4" href="/experience/#two-kids-for-change"></a>
                <h1 class="text-white p-4">code for change</h1>
            </div>
        </div>
    </div>

    <!-- End of Experience Section-->

    <!-- Extra Info Section -->
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h4 class="letters_spaced">sweet touch of dessert . . .</h4>
            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-book fa-3x p-4" href="/relevant-courses"></a>
                <h1 class="text-white p-4">not so boring courses</h1>
            </div>
            <div class="col-sm bg-primary border border-light p-5 text-center">
                <a class="btn btn-primary fas fa-user fa-3x p-4" href="http://reinspire.ca/" target="_blank"></a>
                <h1 class="text-white p-4">reinspire blog!</h1>
            </div>
        </div>
    </div>

    <!-- End of Extra Info Section -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/onPageEdits.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>