<!doctype html>
<html lang="en">
  <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132319478-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-132319478-1');
        </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <title>Joshua D'Souza</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-light bg-light">
        <button class="navbar-toggler" type="button" id="sideNavButton" onclick="openNav()">
            <span style="font-size:30px;">&#9776;</span>
        </button>
        

        <div id="mySideNav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/experience">Experience</a>
            <a href="/resume">Resume</a>
            <a href="/contact-me">Contact Me</a>
        </div>    
    </nav>
    <!-- END NAVBAR -->

    <!-- Title Section -->
    <div class="container d-none d-md-block">
        <div class="row mt-5">
            <div class="col p-5">
                <h1 class="display-1 text-center">Mt. Kilimanjaro</h1>
                <h1 class="display-4 text-center">The Peaking Story</h1>
            </div>
        </div>
    </div>

    <div class="container d-md-none">
        <div class="row mt-5">
            <div class="col p-5">
                <h1 class="display-4 text-center">Mt. Kilimanjaro</h1>
                <h4 class="text-center">The Peaking Story</h1>
            </div>
        </div>
    </div>

    <!-- End of title section-->

    <!-- Image Section -->
    <div class="container">
        <div class="row">
            <div class="col-md p-1">
                <img src="/images/kilimanjaro-group.jpg" class="img-fluid" alt="Mt.Kilimanjaro at Uhuru Peak">
            </div>
            <div class="col-md p-1">
                <img src="/images/view-from-top.jpg" class="img-fluid" alt="View before Stella Point - Mt. Kilimanjaro">
            </div>
        </div>
    </div>

    <!-- End of Image Section-->

    <!-- Text Section -->
    <div class="container">
        <div class="row">
            <div class="col p-5">
                <p class="lead">
                    Climbing Kilimanjaro was one amazing experience that I wouldn't trade for the world. In August 2018 I flew to Tanzania to embark on a journey of a lifetime, to climb Mt. Kilimanjaro. Over the course of 6 days I scaled the mountain for the first time with a honey-moon couple from Austria (yes, I was the third-wheel). Nonetheless, climbing the mountain taught me a lot about myself, how powerful our mindset is, and about accomplishing goals.
                </p>
                <br>
                <p class="lead">
                    I attempted to climb Mt. Kilimanjaro with the intention of reaching Uhuru peak, the highest point in Africa. As you're climbing, your guides are continuously prompting you to go slowly, saying "pole pole" in Swahili, at every chance they get. The purpose of going slowly is so that your body may acclimatize to the higher altitude. It's you versus Mt. Kilimanjaro, and as much as you want to rush to the top, it's important that you go slow. 
                </p>
                <br>
                <p class="lead">
                    In fact, going slow is what taught me the most about accomplishing goals. First off, you don't have to rush to reach the final destination because it doesn't matter if it takes you one day or a year to get there. Secondly, no matter how slow you go, you'll know that every step you take is a small progression to accomplish this intimidating goal of standing on Uhuru peak. Lastly, going slow teaches you to appreciate the moment, the people around you, the feeling in your body as you take another step forward, the fresh air you get to breathe, the beautiful landscapes you ascend through, and the jaw-dropping sight of waking up in the middle of the night to see that one shooting star fly across the peak of the mountain. 
                </p>
                <br>
                <p class="lead">
                    After climbing Mt. Kilimanjaro, I truly understand the meaning of falling in love with the process. Mt. Kilimanjaro wasn't about reaching the top, it was the progression of getting to the top in an environment that was continually changing, while continually training your mind to keep positive and to push forward. 
                </p>
                <br>
                <p class="lead">
                    On the flip side, what was actually the biggest lesson for me was seeing the people around me. You get to climb Mt. Kilimanjaro with your group of trekkers from all around the world, and the guides. However, in the background the porters are the ones who make the journey possible. The porters are the individuals who are carrying your large bags up the mountain, your food for 6 days, and your tents. These people have to make it to the next camp-sites before you, and have to have your food ready so that when you get there, you can be replenished. These people climb the mountain back-to-back in order to get a minimal amount of money to survive, and while you're decked out in your best gear, you see these people climbing in sandals wearing the same clothes every day. Yet, even though they have the minimal amount, it's astonishing to see their smiles and hear their laughter. These people are continually joyous, and are always lifting your spirit up - and this was the biggest lesson of them all. It really doesn't matter how much you have, or how much you get paid. At the end of the day, you can still find happiness in every single moment - it's all just a matter of perspective.
                </p>
                <br>
            </div>
        </div>
    </div>

    <!-- End of Text Section -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/onPageEdits.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>