<!doctype html>
<html lang="en">
  <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132319478-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-132319478-1');
        </script>

        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <title>Joshua D'Souza</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-light bg-light">
        <button class="navbar-toggler" type="button" id="sideNavButton" onclick="openNav()">
            <span style="font-size:30px;">&#9776;</span>
        </button>
        

        <div id="mySideNav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/experience">Experience</a>
            <a href="/resume">Resume</a>
            <a href="/contact-me">Contact Me</a>
        </div>    
    </nav>
    <!-- END NAVBAR -->

    <!-- Title Section -->
    <div class="container d-none d-md-block">
        <div class="row mt-5">
            <div class="col p-5">
                <h1 class="display-1 text-center header">Transform</h1>
                <h1 class="display-4 text-center subheader">The Body-Swap Story</h1>
            </div>
        </div>
    </div>

    <div class="container d-md-none">
        <div class="row mt-5">
            <div class="col p-5">
                <h1 class="display-4 text-center">Transform</h1>
                <h4 class="text-center">The Body-Swap Story</h1>
            </div>
        </div>
    </div>

    <!-- End of title section-->

    <!-- Image Section -->
    <div class="container">
        <div class="row">
            <div class="col-md p-1">
                <img src="/images/before-transformation.png" class="img-fluid" alt="Mt.Kilimanjaro at Uhuru Peak">
            </div>
            <div class="col-md p-1">
                <img src="/images/after-transformation.png" class="img-fluid" alt="View before Stella Point - Mt. Kilimanjaro">
            </div>
        </div>
    </div>

    <!-- End of Image Section-->

    <!-- Text Section -->
    <div class="container" id="content-section">
        <div class="row">
            <div class="col p-5">
                <p class="lead">
                    Last year from August to the end of November I participated and won the Elliott Hulse Lean Hybrid Muscle competition. The goal of the program was to lose weight as well as to gain muscle - primarily focusing on getting the lean look that every guy wants to have.
                </p>
                <br>
                <p class="lead">
                    Over those four months, I stuck to a ridged but simple diet, and I followed the workouts programmed by Elliott Hulse to the T. The diet consisted of 6 days of eating clean - literally for those 6 days the only things I ate were oatmeal, chicken breast, beef, fruits, and lots of vegetables. But on the last day I was allowed to cheat the diet and eat whatever I was craving. The first week of the program was the most brutal, and getting to the first cheat day was a blessing. However, as the weeks progressed I found that I started resenting the cheat days more and more as it didn't make me feel good - rather it was really putting me down. This signified that the diet change with the allowance of a cheat day really instilled good food discipline within you. 
                </p>
                <br>
                <p class="lead">
                    In tandem with that, this whole program wasn't about the body that I was going to get at the end of it, rather it was about the person who I was going to become through the program. This program shifted my mindset and enabled me to continually eat clean, and workout consistently. It put me in a routine that made me feel good about myself, and getting that going was the best thing that I could have done for myself. 
                </p>
                <br>
                <p class="lead">
                    Over the course of four months I went from being very depressed and beaten down in August, to a life-changing positive individual at the end of November for the simple fact that I chose to treat my body well. 
                </p>
                <br>
                <p class="lead">
                    Now the reason that I'm telling you this story is not to tell you about my accomplishment or how fit I am now. The reason for this story is to tell you that after those four months I still managed to get back in a rut, going back to that previous version of myself with a larger fat percentage. I began to eat unhealthy, and wasn't working out consistently - BUT I was ok with myself. I was ok with gaining a little weight because I know that everything happens in cycles, and frankly I really do love to eat. Nonetheless, I knew that I already understood how to get to my ideal vision and so getting back to it was not an issue for the simple fact that I had done it before. 
                </p>
                <br>
                <p class="lead">
                    If you're looking to get similar results here are some tips that I can give you from my experience (this is what worked for me):
                </p>
                <p class="lead">
                    1. Have one cheat day in the week. This makes your clean days more manageable because you know that whatever you're tempted to eat now, you'll be able to eat on the cheat day.
                </p>
                <p class="lead">
                    2. It doesn't matter what workout you pick. The best workout is a workout that you are consistent with, and one in which you complete every rep with the best execution. 
                </p>
                <br>
            </div>
        </div>
    </div>

    <!-- End of Text Section -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/onPageEdits.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>